html {
    font-family: 'Assistant', sans-serif;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 15rem;
  min-height: 100%;
}

.container {
    width: 1100px;
    margin: auto;
}

.inner-navbar {
    width: 1100px;
    margin: auto;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
}

a:hover {
    color: #e60202;
    -webkit-transition:color 0.3s ease-in; 
   -moz-transition:color 0.3s ease-in; 
   -o-transition:color 0.3s ease-in; 
   transition:color 0.3s ease-in; 
}

a:active {
    color: blue;
}

.outer-navbar {
    background: rgba(240,240,240,1);
    background: -moz-linear-gradient(left, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,240,240,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(left, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(left, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(left, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
    background: linear-gradient(to right, rgba(248,248,248,1) 0%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#ffffff', GradientType=1 );
}

.menubutton {
    padding: 1.3em 0.8em 1.3em 0.8em;
    font-weight: 200;
    display: inline-block;
    font-size: large;
}

.gradientbar {
    width: 100%;
    height: 0.3em;
    background: rgba(158,44,44,1);
    background: -moz-linear-gradient(left, rgba(158,44,44,1) 0%, rgba(189,70,70,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(158,44,44,1)), color-stop(100%, rgba(189,70,70,1)));
    background: -webkit-linear-gradient(left, rgba(158,44,44,1) 0%, rgba(189,70,70,1) 100%);
    background: -o-linear-gradient(left, rgba(158,44,44,1) 0%, rgba(189,70,70,1) 100%);
    background: -ms-linear-gradient(left, rgba(158,44,44,1) 0%, rgba(189,70,70,1) 100%);
    background: linear-gradient(to right, rgba(158,44,44,1) 0%, rgba(189,70,70,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9e2c2c', endColorstr='#bd4646', GradientType=1 );
}

.menu-logo {
    width: auto;
    vertical-align: middle;
    padding-right: 0.5em;
    display: inline;
    height: 78px;
    position: relative;
}

.banner-img {
    width: 100%;
}

.banner-text {
    padding: 1em 3em 2em 3em;
    position: absolute;
    width: 350px;
    top: 10em;
    left: 14%;
    background: #fff;
    /* border-bottom-color: #e60202; */
    /* border-bottom-style: solid; */
    /* border-bottom-width: 0.3em; */
    box-shadow: 0px 1px 2px 0px #333333;
}

.banner-text h1, h3 {
    font-weight: 200;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: rem;
    min-height: 4em;
}

.inner-footer {
    text-align: right;
    width: 1100px;
    margin: auto;
    color: #333333;
    font-weight: 200;
    font-size: 0.9em;
    line-height: 64px;
}

h1, h3 {
    font-weight: 200;
    color: #333333;
}

input[type="button"] {
    padding: 0.7em 1em;
    margin-right: 1.5em;
    background-color: #bc4545;
    border-style: none;
    color: #fff;
    border-radius: .5em;
    font-size: 1em;
}

a:hover input[type="button"] {
    background-color: #e60202;;  
    -webkit-transition-property:color, background; 
    -webkit-transition-duration: 0.3s, 0.3s; 
    -webkit-transition-timing-function: linear, ease-in; 
}

.image {
    display: block;
    width: 166px;
    height: 112px;
}

.center {
    text-align: center;
    margin: auto;
}